 /* CSS Reset */
 body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    padding: 0px;
    background: url('img/pexels-anush-gorak-1431282.jpg');
    background-repeat: no-repeat;
    background-size: 100rem;
    color: white;
    /* height: 4000px; */
}

.left{
    /* border: 2px solid red; */
    display: inline;
    position: absolute;
    left: 34px;
    top: 15px;
}
.left img{
    width: 80px;
    filter: invert(100%);
    cursor: pointer;
    position: absolute;
    left: 20px;
}
.left div:hover{
    color: rgb(85, 198, 198);
}
.left div{
    text-align: center;
    cursor: pointer;
    position: absolute;
    /* width: 100px; */
    /* line-height: 150px; */
    top: 50px;
    left: 25px;
    font-size: 20px;
}
.right{
    /* border: 2px solid blue; */
    display: inline; 
    /* height: 25px; */
    position: absolute;
    right: 60px;
    top: 30px;
}
.mid{
    /* border: 2px solid green; */
    display: block;
    width: 40%;
    margin: 15px auto;
}

.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    padding: 5px 18px;
    font-size: 20px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.navbar li a:hover,.navbar li a.active{
    color: rgb(85, 198, 198);
    /* text-decoration: underline; */
}
.btn{
    font-family: 'Ubuntu', sans-serif;
    margin:5px 15px;
    color: white;
    background-color: black;
    border: 2px solid white;
    padding: 3px 13px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover{
    border-color: rgb(182, 234, 234);
}
.container{
    border: 2px solid white;
    width: 30%;
    padding: 10px;
    padding-bottom: 15px;
    margin: 100px 70px;
    border-radius: 15px;
}
.container:hover{
    border-color: rgb(85, 198, 198);
}
.form-group input{
    text-align: center;
    border: 2px solid black;
    display: block;
    width: 220px;
    margin: 6px auto;
    padding: 2px 2px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.form-group input:hover{
    border-color: rgb(85, 198, 198);
}
.container .btn{
    display: block;
    width: 220px;
    border-radius: 8px;
    margin: 8px auto;
    font-size: 18px;
}
.container h1{
    text-align: center;
}
.container h1:hover{
    color: rgb(85, 198, 198);
}



